<a {% if id %}id="{{ id }}"{% endif -%} {% if className %}class="btn {{ className }}" {% endif -%} {% if role %}role="{{ role }}" {% endif -%} {% if href -%} href="{{ href }}"{%- endif -%}>
    {{- children | raw }}
    {%- if with_icon == 'true' -%}
        <Icon type="{{ icon_type }}"></Icon>
    {%- endif -%}
</a>
